body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	border: 1px solid #C9E0ED;
	background: white no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
}

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

div.left
{
	width:51%;
	float:left;
	bottom:10px;
  	left:0;
  	clear: both;
  	padding: 0; 
	margin: 0 0 10px 0;  
}

div.right
{
	width:230px;
	float:left;
	bottom:10px;
  	padding: 0; 
	margin: 0 0 10px 0;  
}

div.movie-index-view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid black;
	display: inline-block;
	border-radius: 6px 6px 6px 6px;
	width: 95%;
	-moz-box-shadow:    3px 3px 5px 6px black;
	-webkit-box-shadow: 3px 3px 5px 6px black;
  	box-shadow:         3px 3px 5px 6px black;
}

div.movie-detail-view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid black;
	display: inline-block;
	border-radius: 6px 6px 6px 6px;
	width: 95%;
	background: white;
	-moz-box-shadow:    3px 3px 5px 6px black;
	-webkit-box-shadow: 3px 3px 5px 6px black;
  	box-shadow:         3px 3px 5px 6px black;
}

div.left-movie-detail-view
{
	width:60%;
	float:left;
	bottom:10px;
  	padding: 0; 
  	left:0;
  	clear: both;
	margin: 0 0 10px 0; 
}

div.right-movie-detail-view
{
	width:230px;
	float:right;
	bottom:10px;
  	padding: 0; 
	margin: 0 0 10px 0;
	display: inline-block; 
	vertical-align: top;  
}


div.left-movie-view
{
	width:135px;
	float:left;
	bottom:10px;
  	left:0;
  	clear: both;
  	padding: 0; 
	margin: 0 0 10px 0;
	display: inline-block; 
	vertical-align: top;  
}

div.right-movie-view
{
	width:60%;
	float:left;
	bottom:10px;
  	padding: 0; 
	margin: 0 0 10px 0;  
}

.messageError
{
	color: red;
	font-style: italic;
	display: none;
}

div.customer-assign-title
{
	width: 97%;
	height: 40px;
	background-color: #F4F6FB;
	margin-bottom: 10px;
	padding: 18px 5px 0px 20px;
	font-size: 18px;
}

div.customer-button-box
{
	position: relative;
	float: right;
}

div.row-half
{
	width: 45%;
	position: relative;
	float: left;
}